body {
    margin: auto;
    width: 1440px;
    height: 1024px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    background-image: url('./images/backgroung.jpg'), url('./images/pool-table.png');
    background-repeat: no-repeat, repeat;
    background-position: center center, center center;
}

.menu {
    position: relative;
    box-sizing: border-box;
    width: 1440px;
    height: 1024px;
    padding: 129px 0 0 103px;
}

.input {
    display: none;
}

.section__heading {
    font-size: 57px;
    margin-bottom: 0;
}

.game-description {
    margin-top: 0;
    font-size: 19px; 
}

.normal-font {
    font-weight: 400;
}

.hardness-list {
    list-style: none;
    padding-left: 50px;
    margin-bottom: 112px;
}

.label {
    position: relative;
    font-size: 50px;
}

.label:hover,
.label:focus {
    cursor: pointer;
    color: #d62b2e;
}

.input:checked + .label::before {
    position: absolute;
    top: 20px;
    left: -35px;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #d63b2e;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}

.button {
    width: 352px;
    height: 95px;
    box-sizing: border-box;
    border-color: transparent;
    border-radius: 10px;
    font-size: 32px;
    text-align: center;
    color: #fff;
    background-color: #d62b2e;
}

.button:hover,
.button:focus {
    opacity: 0.9;
    cursor: pointer;
}

.button:active {
    opacity: 0.8;
}


.card {
    position: relative;
    width: 218px;
    height: 341px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card__wrap {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: fly-in 1s ease-out;
}

.card__wrap:hover, 
.card__wrap:focus {
    transform: translateY(-20px) rotate(-3.08deg);
    transition: transform 0.5s;
}

.front {
    background-image: url('./images/front-game-over.png');
    transform: rotateY(180deg);
}

.back {
    background-image: url('./images/back.png');
    transform: none;
}

.bug .front {
    background-image: url('./images/front-bug.png');
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card_reverse {
    transform: rotateY(180deg);
}

.menu-card_1,
.menu-card_2 {
    position: absolute;
}

.menu-card_1 {
    right: 300px;
    bottom: 116px;
    transform: rotate(11.9deg);
}

.menu-card_2 {
    right: 120px;
    bottom: 110px;
    transform: rotate(39.26deg);
}

.table {
    position: relative;
    display: flex;
    max-width: 1480px;
    min-height: 1024px;
}

.section_hard,
.section_medium,
.section_easy {
    display: grid;
    grid-gap: 24px;
    align-self: center;
    justify-self: center;
    margin: auto;
}

.section_hard {
    grid-template-columns: repeat(5, min-content);
}

.section_medium,
.section_easy {
    grid-template-columns: repeat(3, min-content);
}

.section_medium,
.section_hard {
    grid-template-rows: min-content min-content;
}

.hidden {
    display: none;
}

.button_table {
    position: absolute;
    top: 20px;
    left: 545px;
}

@keyframes fly-in {
    0% {
        transform: translateY(-5000px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes hover {
    0% {
        transform: translate(0);
    }
    80% {
        transform: translateY(-200x);
    }
    100% {
        transform: rotate(-3.08deg);
    }
}